<%= simple_form_for(@message, :html => {:class => 'form-vertical' }) do |f| %>
  <div class="inputs">
  	<div class="input integer required">
  		<label class="string required" for="message_to_user_name"><abbr title="required"></abbr>Who would you like to notify?</label>
  		<input class="string required typeahead" data-provide="typeahead" id="message_to_user_name" />
  	</div>


    <%= f.input :to_user_id, :required => true %>
    <%= f.input :content, :required => true %>
    <span id="counter">160</span>
    <%= f.input :from_user_id, :required => true, :as => :hidden, :input_html => {:value => current_user.id} %>
    <%= f.collection_radio_buttons :message_type_id, [['SMS','1'],['Email','2'],['Both','3']], :last, :first %>
  </div>
  <div class="actions">
    <%= f.button :submit, "SEND NOTIFICATION" %>
  </div>
<% end %>
