<%= simple_form_for(@user) do |f| %>

  <div class='inputs'>
    <% generated_password = Devise.friendly_token.first(10) %>
    <% current_password = @user.password %>
    <div class="row">
      <%= f.input :first_name, :required => true, :wrapper_html=> { :class=> "span3" }, :input_html=> { :class=> "field-name" } %>
      <%= f.input :last_name, :required => true, :wrapper_html=> { :class=> "span3" }, :input_html=> { :class=>"field-name" } %>
    </div>

    <div class="row">
      <%= f.input :company_name, :required => true, :autofocus => true, :wrapper_html=> { :class=> "span12" }, :input_html=> { :class=>"field-name span6" } %>
    </div>

    <div class="row">
      <%= f.input :email, :required => true, :autofocus => true, :wrapper_html=> { :class=> "span3" }, :input_html=> { :class=> "field-name" } %>
      <%= f.input :company_name, :required => true, :autofocus => true, :wrapper_html=> { :class=> "span3" }, :input_html=> { :class=> "field-name" } %>
      <%= f.input :preference, :required => false, :autofocus => true, :as => :select, :collection => [['SMS','1'],['Email','2'],['Both','3']], :value => '1', :wrapper_html=> { :class=> "span3" }, :input_html=> { :class=>"field-name" } %>
      <% if current_page?( :action => 'new' ) %>
    </div>

    <div class="row">
      <%= f.input :password, :readonly => true, :wrapper_html=> { :class=> "span3" }, :input_html => { :value => generated_password, :class=> "field-name" } %>
      <%= f.input :password_confirmation, :readonly => true,:wrapper_html=> { :class=> "span3" }, :input_html => { :value => generated_password, :class=> "field-name" } %>
    </div>
  </div>
  <div class="row">
    <div class='actions span3'>
    <%= f.button :submit, "ADD CONTACT",:wrapper_html=> { :class=> "span3" }, :class => "red-button" %>
    <% else %>
    <div class='actions span3'>
      <%= f.button :submit, "UPDATE", :class => "red-button" %>
    <% end %>
  </div>
<% end %>

      <%= button_to 'Cancel', '/', :class => "red-button" %>
    </div>