<section id="content-area" class="box">
  <div id="contacts_header" >
  <h2 class="span3">Contacts</h2>
  <%= search_form_for @search, :html => {:class => "form-inline span3 offset3"} do |f| %>
    <%= f.text_field :first_name_or_last_name_or_company_name_cont, :class => "input-medium search-field field-name span3", :placeholder => "Find contact or company" %>
  <% end %>
  <%= link_to "ADD CONTACT", new_user_path, :class=>"red-button contacts span3" %>
  </div>


  <table id="users">
    <tr>
      <th>NAME</th>
      <th>COMPANY</th>
      <th>EMAIL</th>
      <th>NUMBER</th>
      <th></th>
    </tr>
  	<% @users.each do |user| %>
  	<tr>
  	  <td><%= user.full_name %></td>
  	  <td><%= user.company_name %></td>
  	  <td><%= user.email %></td>
  	  <td><%= user.phone_number %></td>
  	  <td class="links">
    	  <%= link_to "NOTIFY", notify_message_path(user), :class=> "red-links invisible" %>
    	  <%= link_to "EDIT", edit_user_path(user), :class=> "red-links invisible" %>
  	    <%= link_to "DELETE", user, method: :delete, data: { confirm: 'Are you sure?'}, :class=> "red-links invisible" %>
      
  	  </td>
    </tr>  
    <% end %>
  </table>
</section>

