<section id="content-area" class="box">
	<h2>Sign in</h2>

	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  <div class="inputs">
	  	<p>Please enter your email and password below.</p>
	  	<div class='<%= "field_with_errors" if flash[:alert].present? %>'>
		    <%= f.input :email, :required => false, :autofocus => true, :input_html=> { :class=>"field-name", :placeholder=>"Email"}, :label => false %>
		    <%= f.input :password, :required => false, :input_html=> { :class=>"field-name", :placeholder=>"Password"}, :label => false %>
		    <span class="error"><%= alert %></span>
		    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
	  	</div>
		</div>
	  <div class="actions">
	    <%= f.button :submit, "Sign in", :class=>"red-button"%>
	  </div>
	<% end %>   
	<%= render :partial => "devise/shared/links" %>
</section>