<header class="container-fluid">
  <div class="row">
    <h1 class="span4">General Assembly</h1>
    	<nav class="span4">
      <% if can? :create, @message %>
    		<% if ( controller.action_name == 'new' && controller.controller_name == 'messages' ) %>

          <%= link_to "NOTIFY", root_path, :class=>"current" %><span class="line">|</span>
          <%= link_to "VIEW CONTACTS", users_path %><span class="line">|</span>
          <%= link_to "ADD CONTACT", new_user_path %>

        <% elsif controller.action_name == 'index' %>
          <%= link_to "NOTIFY", root_path %><span class="line">|</span>
          <%= link_to "VIEW CONTACTS", users_path,  :class=>"current" %><span class="line">|</span>
          <%= link_to "ADD CONTACT", new_user_path %>
        
        <% elsif controller.controller_name == 'users' && controller.action_name == 'new' %>
          <%= link_to "NOTIFY", root_path %><span class="line">|</span>
          <%= link_to "VIEW CONTACTS", users_path %><span class="line">|</span>
          <%= link_to "ADD CONTACT", new_user_path,  :class=>"current" %>
          
        <% else %>
          <%= link_to "NOTIFY", root_path %><span class="line">|</span>
          <%= link_to "VIEW CONTACTS", users_path %><span class="line">|</span>
          <%= link_to "ADD CONTACT", new_user_path %>

        <% end %>
            
      <% end %>
    	</nav>
      <div class="span2 offset2">
      <% if user_signed_in? %>
        <%= link_to "HELLO, #{current_user.first_name}", edit_user_path(current_user), :class=> "name" %>
        <%= link_to "Not you?", destroy_user_session_path, method: :delete, :class=> "not_you" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, :class=>'span4' %>
      <% end %>
    </div>
  </div>
</header>