<!DOCTYPE html>
<html>
<head>
  <title>Notifier</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id="wrapper">
    <%= render 'layouts/header' %>
    <div id="container" class="container-fluid" >
      <div class="row">
          <%= yield %>
      </div>
    </div> <!-- END CONTAINER DIV-->
    <div id="layout_footer"></div>
  </div> <!-- END WRAPPER DIV-->
  <%= render 'layouts/footer' %>
</body>
</html>
